@import "tailwindcss";
@import "tw-animate-css";
@import "./satoshi.css";

@custom-variant dark (&:is(.dark *));

@layer components {
    .all-\[unset\] {
        all: unset;
    }
}

:root {
    --radius: 0.625rem;
    --background: oklch(96.77% 0.008 114.22);
    --foreground: oklch(0.205 0.07 264.4);
    --card: oklch(0 0 0 / 0);
    --card-foreground: oklch(0.205 0.07 264.4);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.205 0.07 264.4);
    --primary: oklch(0.205 0.07 264.4);
    --primary-foreground: oklch(0.985 0.01 252.7);
    --secondary: oklch(0.97 0.013 252.7);
    --secondary-foreground: oklch(0.205 0.07 264.4);
    --muted: oklch(0.97 0.013 252.7);
    --muted-foreground: oklch(0.556 0.027 258.6);
    --accent: oklch(0.97 0.013 252.7);
    --accent-foreground: oklch(0.205 0.07 264.4);
    --destructive: oklch(0.577 0.245 27.3);
    --destructive-foreground: oklch(0.985 0.01 252.7);
    --border: oklch(0.922 0.019 255.7);
    --input: oklch(0.922 0.019 255.7);
    --ring: oklch(0.708 0.027 258.1);
    --variable-collection-BG-2-light-yellow: oklch(96.77% 0.008 114.22);
    --variable-collection-body: oklch(0.447 0.013 264.4);
    --variable-collection-deep-light-gray-stroke: oklch(0.912 0 0);
    --variable-collection-difficulty-bar-s-default: oklch(0.87 0.052 163.2);
    --variable-collection-main-BG-solid-white: oklch(1 0 0);
    --variable-collection-offwhite: oklch(0.977 0 0);
    --variable-collection-primary-blue: oklch(0.65 0.2 264.4);
    --variable-collection-primary-jithbo-green: oklch(0.773 0.106 163.2);
    --variable-collection-secondary-gray-blue: oklch(0.5 0.05 264.4);
    --variable-collection-secondary-pure-green: oklch(0.447 0.067 169.8);
    --variable-collection-secondary-terra-cotta: oklch(0.65 0.15 27.3);
    --variable-collection-solid-white: oklch(1 0 0);
    --variable-collection-swimming: oklch(0.95 0.02 180);
    --variable-collection-tertiary-light-apricot: oklch(0.9 0.05 60);
    --variable-collection-tertiary-light-gray: oklch(0.97 0 0);
    --variable-collection-tertiary-night-black: oklch(0.15 0 0);
    /* font */
    --font-s-black: "Satoshi-Black", Helvetica, sans-serif;
    --font-s-regular: "Satoshi-Regular", Helvetica, sans-serif;
    --font-s-medium: "Satoshi-Medium", Helvetica, sans-serif;
    --font-s-bold: "Satoshi-Bold", Helvetica, sans-serif;
    --font-s-italic: "Satoshi-Italic", Helvetica, sans-serif;
    --font-s-light: "Satoshi-Light", Helvetica, sans-serif;
    --font-s-light-italic: "Satoshi-LightItalic", Helvetica, sans-serif;
    --font-s-bold-italic: "Satoshi-BoldItalic", Helvetica, sans-serif;
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-variable-collection-BG-2-light-yellow: var(
        --variable-collection-BG-2-light-yellow
    );
    --color-variable-collection-body: var(--variable-collection-body);
    --color-variable-collection-deep-light-gray-stroke: var(
        --variable-collection-deep-light-gray-stroke
    );
    --color-variable-collection-difficulty-bar-s-default: var(
        --variable-collection-difficulty-bar-s-default
    );
    --color-variable-collection-main-BG-solid-white: var(
        --variable-collection-main-BG-solid-white
    );
    --color-variable-collection-offwhite: var(--variable-collection-offwhite);
    --color-variable-collection-primary-blue: var(
        --variable-collection-primary-blue
    );
    --color-variable-collection-primary-jithbo-green: var(
        --variable-collection-primary-jithbo-green
    );
    --color-variable-collection-secondary-gray-blue: var(
        --variable-collection-secondary-gray-blue
    );
    --color-variable-collection-secondary-pure-green: var(
        --variable-collection-secondary-pure-green
    );
    --color-variable-collection-secondary-terra-cotta: var(
        --variable-collection-secondary-terra-cotta
    );
    --color-variable-collection-solid-white: var(
        --variable-collection-solid-white
    );
    --color-variable-collection-swimming: var(--variable-collection-swimming);
    --color-variable-collection-tertiary-light-apricot: var(
        --variable-collection-tertiary-light-apricot
    );
    --color-variable-collection-tertiary-light-gray: var(
        --variable-collection-tertiary-light-gray
    );
    --color-variable-collection-tertiary-night-black: var(
        --variable-collection-tertiary-night-black
    );
    --font-s-black: var(--font-s-black);
    --font-s-regular: var(--font-s-regular);
    --font-s-medium: var(--font-s-medium);
    --font-s-bold: var(--font-s-bold);
    --font-s-italic: var(--font-s-italic);
    --font-s-light: var(--font-s-light);
    --font-s-light-italic: var(--font-s-light-italic);
    --font-s-bold-italic: var(--font-s-bold-italic);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
        font-feature-settings: "rlig" 1, "calt" 1;
    }
}

@layer utilities {
    .accordion-down {
        animation: accordion-down 0.2s ease-out;
    }
    .accordion-up {
        animation: accordion-up 0.2s ease-out;
    }
}

@keyframes accordion-down {
    from {
        height: 0;
    }
    to {
        height: var(--radix-accordion-content-height);
    }
}

@keyframes accordion-up {
    from {
        height: var(--radix-accordion-content-height);
    }
    to {
        height: 0;
    }
}
